In [1]:
# String based practiced problems:

In [2]:
# reverse a string
str1=str(input("Enter string: "))
rev=""

print("Reversed string:",str1[::-1])
# using for loop
for i in str1:
    rev=i+rev
print("Reversed string:", rev)

Enter string:  dipanjanchatterjee

Reversed string: eejrettahcnajnapid
Reversed string: eejrettahcnajnapid

In [3]:
#if a string is palindrome or not

str1=str(input("Enter string: "))
rev=str1[::-1]
print("Reversed string:", rev)
if str1==rev:
    print("The string is palindrome...")
else:
    print("The string is nonpalindrome...")

Enter string:  wasitacaroracatisaw

Reversed string: wasitacaroracatisaw
The string is palindrome...

In [4]:
# convert a string into uppercase:

str1=str(input("Enter string: "))
print("\nCapital string: ",str1.upper())

Enter string:  in this program we are using upper() function

Capital string:  IN THIS PROGRAM WE ARE USING UPPER() FUNCTION

In [5]:
# convert a string into lowercase:

str1=str(input("Enter string: "))
print("\nLower string: ",str1.lower())

Enter string:  IN THIS PROGRAM WE ARE USING LOWER() FUNCTION

Lower string:  in this program we are using lower() function

In [6]:
# swap the case of the string.

str1=input("Enter string: ")
print("\nAfter swap: ",str1.swapcase())

Enter string:  In ThIs StRiNg We ArE uSiNg SwApCaSe() fUnCtIoN

After swap:  iN tHiS sTrInG wE aRe UsInG sWaPcAsE() FuNcTiOn

In [7]:
# count the number of vowels in a string:

str1=str(input("Enter string: "))
c=0
for i in str1:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='O' or i=='I' or i=='U':
        c+=1
print("total vowels:",c)

Enter string:  this is a string where we are trying to find VOWELS.

total vowels: 14

In [8]:
# count the number of consonants:

str1=str(input("Enter string: "))
c=0
for i in str1:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='O' or i=='I' or i=='U':
        continue
    else:
        c+=1
print("total consonants:",c)

Enter string:  This is a sentence.A sentence consists of several words , every word is made of several letters. Letters may be vowels or consonants.

total consonants: 94

In [9]:
# remove all white spaces from string

str1=str(input("Enter string: "))
print(str1.replace(" ",""))

Enter string:  my name is dipanjan

mynameisdipanjan

In [10]:
# find the length of a string

s=str(input("Enter string: "))
len=0
for i in s:
    len+=1
print(f"the actual length of the string:{len}")

Enter string:  hello sir, my name is dipanjan chatterjee. this is a string.

the actual length of the string:60

In [11]:
# if a string contains  a specific word

str1=str(input("Enter string:"))
f=0
s=str(input("enter specific word:"))
for i in str1:
    if s in str1:
        f=1
if f==1:
    print("The string contains this word...")
else:
    print("sorry boss!!! not  found...")

Enter string: We are Shadow Garden. We, the one who lurks in shadow , the one who hunts the shadow
enter specific word: shadow

The string contains this word...

In [1]:
# replace a word of a string with another

str1=str(input("Enter string:"))
old=str(input("Enter the word :"))
new=str(input("Replaced with:"))
print("\nReplaced string:",str1.replace(old,new))

Enter string: Hello sir , this is my code where I'll perform replace function 2nd time. sir hope you'll find this replace() function very cool...
Enter the word : sir
Replaced with: Ratul sir

Replaced string: Hello Ratul sir , this is my code where I'll perform replace function 2nd time. Ratul sir hope you'll find this replace() function very cool...

In [3]:
# find the first occurence of the string

str1=str(input("Enter string: "))
s=str(input("enter specific word: "))
print(f"position of {s} at 1st occurence: ",str1.find(s))

Enter string:  this is a string where i use find fuction . find function always finds the first occurence of a word.
enter specific word:  find

position of find at 1st occurence:  29

In [4]:
# find the last occurence of the string

str1=str(input("Enter string: "))
s=str(input("enter specific word: "))
print(f"position of {s} at last occurence: ",str1.rfind(s))

Enter string:  this is a string where i use rfind fuction . rfind function always finds the last occurence of a word.
enter specific word:  rfind

position of rfind at last occurence:  45

In [5]:
# split a string into a list of words

str1=str(input("Enter string: "))
print(str1.split(" "))

Enter string:  this is a string

['this', 'is', 'a', 'string']

In [6]:
# join a list of words as a string
list=eval(input("list elements:"))
seperator=' '
print("joined list:", seperator.join(list))

list elements: "I", "Am", "Atomic"

joined list: I Am Atomic

In [7]:
# convert a string where words are seperated with spaces to wors are seperated with underscores

str1=str(input("Enter string: "))
print(str1.replace(" ","_"))

Enter string:  hello guys, this is my string

hello_guys,_this_is_my_string

In [8]:
# check if a string starts with a particular word/phrase or not

s=str(input("enter string: "))
p=str(input("enter phrase: "))
print(f"\n\tIt's {s.startswith(p)}")

enter string:  Good morning John. Nice to meet you.
enter phrase:  Good morning

	It's True

In [9]:
# check if a string ends with a particular word/phrase or not

s=str(input("enter string: "))
p=str(input("enter phrase: "))
print(f"\n\tIt's {s.endswith(p)}")

enter string:  Works come with their consequences.
enter phrase:  .

	It's True

In [10]:
# convert a string into title case

s=str(input("normal case:"))
print(f"title case: {s.title()}")

normal case: welcome tO MY NOtebook

title case: Welcome To My Notebook

In [11]:
# find the longest word in a string

s=str(input("enter string:"))

words=s.split()
longest=max(words, key=len)
position=s.index(longest)

print(f"\nthe longest word in this string is '{longest}' at position {position}.")

enter string: hello dip. i'm dipanjan chatterjee . Currently completing my graduation from Sonarpur Mahavidyalaya as a Bsc honours student of Computer science department.

the longest word in this string is 'Mahavidyalaya' at position 86.

In [12]:
# find the shortest word in a string

s=str(input("enter string:"))

words=s.split()
shortest=min(words,key=len)
position=s.index(shortest)

print(f"\nthe shortest word in this string is '{shortest}' at position {position}.")

enter string: hello dip. i'm dipanjan chatterjee . Currently completing my graduation from Sonarpur Mahavidyalaya as a Bsc honours student of Computer science department.

the shortest word in this string is '.' at position 9.

In [13]:
# reverse the order of a string

str1=str(input("Enter string:"))
rev=""
s=str1.split()
for i in range(len(s)-1,-1,-1):
    rev+= s[i]+' '
print("Reversed string:",rev.strip())

Enter string: We are Shadow Garden. We, the one who lurks in shadow , the one who hunts the shadow

Reversed string: shadow the hunts who one the , shadow in lurks who one the We, Garden. Shadow are We

In [15]:
# check if a string is alphanumeric or not

s=str(input("enter string:"))
new=s.replace(" ","")
statement=new.isalnum()
if new.isalnum()==True:
    print("\tThe string is alphanumeric.")
else:
    print("\tThe string is not alphanumeric.")

enter string: my age is 20 and roll is 506

	The string is alphanumeric.

In [16]:
# extract all digits from a string

s=str(input("enter string:"))
print("digit string:",end=" ")
for i in s:
    if i.isdigit()==True:
        print(f"{i}",end=" ")

enter string: my age is 20, my roll is 202, my registration no. is 514.

digit string: 2 0 2 0 2 5 1 4

In [17]:
# extract all alphabets from a string

s=str(input("enter string:"))
print("alphabet string:",end=" ")
for i in s:
    if i.isalpha()==True:
        print(f"{i}",end=" ")

enter string: 21214467235263567dds675xd5d3w5453hbn4nv4vbnvbv34gnf43788236343wbbfdgxdf78ff6cvcv

alphabet string: d d s x d d w h b n n v v b n v b v g n f w b b f d g x d f f f c v c v

In [18]:
# count the uppercase letters of a string

s=str(input("enter string:"))
count=0
for i in s:
    if i.isupper()==True:
        count+=1
print("total number of capital letters: ",count)

enter string: Welcome to my Castle Mr. Harkar. Let me introduce myself , I'm Count Dracula, the owner of this castle as well as Transelvenia.

total number of capital letters:  9

In [19]:
# count the lowercase letters of a string

s=str(input("enter string:"))
count=0
for i in s:
    if i.islower()==True:
        count+=1
print("total number of small letters: ",count)

enter string: Welcome to my Castle Mr. Harkar. Let me introduce myself , I'm Count Dracula, the owner of this castle as well as Transelvenia.

total number of small letters:  90

In [20]:
# remove a specific word from a string

s=input(" enter string:")
r=input(" enter the word to be removed: ")
print("\n new string: ",s.replace(r,""))

 enter string: hello sir. this is my prog.
 enter the word to be removed:  sir

 new string:  hello . this is my prog.

In [21]:
# check if a emaild id is valid or not

email_id=input("enter email address:")
if email_id.endswith("@gmail.com")==True:
    print("\t the email address is valid")
else:
    print("\t invalid email address.Please enter a valid email address")

enter email address: dipanjanmousumi45@gmail.com

	 the email address is valid

In [25]:
# extract username from a email address
email_id=input("enter email address:")
name=""
name=email_id.replace("@gmail.com","").replace("45","")
print("Welcome ", name)

enter email address: dipanjanmousumi45@gmail.com

Welcome  dipanjanmousumi

In [13]:
#extract the domain name from a email address string
s=input("enter email address:")
print("Domain name of the email address:",s[-10:])

enter email address: daviwalker23@gmail.com

Domain name of the email address: @gmail.com

In [24]:
# replace multiple spaces with single space in a string
str=input("enter string:")
new=str.replace("  "," ")
print(f"\nThe perfect string is: {new}")

enter string: my  name  is  dipanjan  chatterjee

The perfect string is: my name is dipanjan chatterjee

In [29]:
# check if a string is a valid URL or not
url=input("enter url:")
if (url.endswith(".com")==True or url.endswith(".org")==True or url.endswith(".in")==True) and (url.startswith("http://")==True or url.startswith("https://") or url.startswith("www.")):
    print("\tClick on the url to go to the website...")
else:
    print("\tInvalid URL...")

enter url: https://facebook.com

	Click on the url to go to the website...

In [39]:
# extract the protocol of a url string:
url=input("enter url:")
if (url.endswith(".com")==True or url.endswith(".org")==True or url.endswith(".in")==True):
    if url.startswith("http://")==True:
        protocol=url[:4]
    elif url.startswith("https://")==True:
        protocol=url[:5]
    elif url.startswith("www.")==True:
        protocol=url[:3]
    print(f"The url is '{protocol}' type...")
else:
    print("Invalid url...")

enter url: https://www.google.com

The url is 'https' type...

In [23]:
# find the frequency of each character

str=input("enter string:")
s=str.lower()
s=s.replace(" ","")
print("\n Frequency of each character are given below:\n")

for i in s:
    print(f"{i}: {s.count(i)}",end="\t")

# using counter

from collections import Counter
s=Counter(s)
print("\n\n",s)

enter string: Hello this is Dipanjan Chatterjee

 Frequency of each character are given below:

h: 3	e: 4	l: 2	l: 2	o: 1	t: 3	h: 3	i: 3	s: 2	i: 3	s: 2	d: 1	i: 3	p: 1	a: 3	n: 2	j: 2	a: 3	n: 2	c: 1	h: 3	a: 3	t: 3	t: 3	e: 4	r: 1	j: 2	e: 4	e: 4

 Counter({'e': 4, 'h': 3, 't': 3, 'i': 3, 'a': 3, 'l': 2, 's': 2, 'n': 2, 'j': 2, 'o': 1, 'd': 1, 'p': 1, 'c': 1, 'r': 1})

In [49]:
# remove all punctuations from a string
import string

s=input("enter string:")
new=s.translate(str.maketrans("","",string.punctuation))
print("\n",new)

enter string: Glad to meet you Sir!! Can you tell me the answer of the 10th question?

 Glad to meet you Sir Can you tell me the answer of the 10th question

In [53]:
# check if a string contains only alphabets or not
str=input("enter string:")
s=str.replace(" ","")
print(f"'The string contains only alphabets'- It's {s.isalpha()}")

enter string: hello this is dipanjan

'The string contains only alphabets'- It's True

In [55]:
# check if a string contains only digits or not
str=input("enter string:")
print(f"'The string contains only digits'- It's {s.isdigit()}")

enter string: 4537884adeh

'The string contains only digits'- It's False

In [10]:
# convert a string into list of characters
str=input("enter string:")
s=str.replace(""," ").split()
print(s)

#we can use set function if we want to create a set of characters
# s=set(str.replace(""," "))
# print(type(s))

enter string:we are cyborgs, made by humans. We are created with AI programming...
['w', 'e', 'a', 'r', 'e', 'c', 'y', 'b', 'o', 'r', 'g', 's', ',', 'm', 'a', 'd', 'e', 'b', 'y', 'h', 'u', 'm', 'a', 'n', 's', '.', 'W', 'e', 'a', 'r', 'e', 'c', 'r', 'e', 'a', 't', 'e', 'd', 'w', 'i', 't', 'h', 'A', 'I', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', '.', '.', '.']

In [9]:
# check if two strings are anagrams or not

str1=input("Enter first string:")
str2=input("Enter second string:")

str1=str1.lower()
str2=str2.lower()

if len(str1)==len(str2):
    alph1="".join(sorted(str1))
    alph2="".join(sorted(str2))
    
    if alph1==alph2:
        print("\tThe Strings are anagrams.")
    else:
        print("\tThe Strings ain't anagrams")
else:
    print("\tThe Strings are not equal!!")

Enter first string: listen God
Enter second string: Silent dog

	The Strings are anagrams.

In [42]:
# Most frequent word in a string

from collections import Counter

str1=input("Enter string:")
freq=""
max_word=""
s=str1.split()
print("\nFrequencies of each word is given below:\n")

freq=Counter(s)
print(freq)

max_word=max(set(s) , key=s.count)
print("\nThe most frequent(common) word is: ",max_word)

Enter string: python python is is is is very very very cool cool language.

Frequencies of each word is given below:

Counter({'is': 4, 'very': 3, 'python': 2, 'cool': 2, 'language.': 1})

The most frequent(common) word is:  is

In [10]:
# Find all unique words in a string

In [11]:
# Count the number of syllables in a string

In [8]:
# Check if a string contains any special character or not
str=input("enter string:")
s=str.replace(" ","")
# print(str.isdigit())
if s.isalnum()==True:
    print("The string does not contain any special character....")
else:
    print("The string contains some special character....")

enter string: hello sir !

The string contains some special character....

In [15]:
# Remove nth word of a string
str=input("enter string:")
n=int(input("enter position:"))
# y=int(input("enter the last position:"))
s=str.split()
first=s[:n]
last=s[n+1:]
s=' '.join(first+last)
print(s)

enter string: my name is dipanjan chatterjee
enter position: 2

my name dipanjan chatterjee

In [27]:
# Insert a word at nth position of a string
str=input("enter string:")
p=int(input("enter position:"))
new=input("enter new substring:")

s=str.split()
n=new.split()
first=s[:p+1]
last=s[p+1:]
s=" ".join(first+n+last)
print(s)

enter string:this is notebook.
enter position:1
enter new substring:jupyter
this is jupyter notebook.

In [ ]:
# List based practiced problems:

In [1]:
# print 1 to 10 integers 

list=eval(input("enter elements:"))
print(list)

enter elements:1,2,3,4,5,6,7,8,9,10
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
# find the length of a list:
list=eval(input("enter elements:"))
count=0
for i in list:
    count+=1
print(f"Length of the list {list} is {count}")

enter elements:12,15,23,76,"A","B",23.67
Length of the list (12, 15, 23, 76, 'A', 'B', 23.67) is 7

In [25]:
# append an element to the end of the list
mylist=eval(input("enter element:"))

print("List before append:",mylist)
new=input("enter element:")

mylist.append(new)
print("List after append:",mylist)

enter element:[23,12,'dip','anu',6.99]
List before append: [23, 12, 'dip', 'anu', 6.99]
enter element:dipanjan
List after append: [23, 12, 'dip', 'anu', 6.99, 'dipanjan']

In [26]:
# # insert an element to a specific position of the list
mylist=eval(input("enter element:"))

print("List before insert:",mylist)
new=input("enter element:")
pos=int(input("enter position:"))
mylist.insert(pos,new)
print("List after insert:",mylist)

enter element:[23,12,'dip','anu',6.99]
List before insert: [23, 12, 'dip', 'anu', 6.99]
enter element:rajib
enter position:2
List after insert: [23, 12, 'rajib', 'dip', 'anu', 6.99]

In [29]:
# remove an element from a list by its value
mylist=eval(input("enter element:"))
print("List before remove:",mylist)
element=eval(input("enter element to remove:"))
mylist.remove(element)
print("List after remove:",mylist)

enter element:[23,12,'dip','anu',6.99,'jarvis',"alok"]
List before remove: [23, 12, 'dip', 'anu', 6.99, 'jarvis', 'alok']
enter element to remove:23
List after remove: [12, 'dip', 'anu', 6.99, 'jarvis', 'alok']

In [37]:
# remove an element from a list by its index
mylist=eval(input("enter elements:"))
print("List before remove:",mylist)
pos=int(input("enter position of the element to remove:"))
mylist.pop(pos)
print("List after remove:",mylist)

enter elements:[23,12,'dip','anu',6.99,'jarvis',"alok"]
List before remove: [23, 12, 'dip', 'anu', 6.99, 'jarvis', 'alok']
enter position of the element to remove:4
List after remove: [23, 12, 'dip', 'anu', 'jarvis', 'alok']

In [45]:
# check if an element exists in the list
list=eval(input("enter list elements:"))
print("List: ",list)
element=eval(input("enter element:"))
if element in list:
    print(f"\n\t{element} exists in the list.")
else:
    print(f"\n\t{element} doesn't exist in the list.")

enter list elements:[23,12,'dip','anu',6.99,'jarvis',"alok","ajoy",'akash']
List:  [23, 12, 'dip', 'anu', 6.99, 'jarvis', 'alok', 'ajoy', 'akash']
enter element:'anu'

	anu exists in the list.

In [1]:
# first occurence of an element
list=eval(input("enter list elements:"))
element=eval(input("enter particular element:"))
print(list.index(element))

enter list elements:[2,4,False,12.7,'jack','robin',4,'jack']
enter particular element:4
1

In [2]:
# count the number of occurences in list
list=eval(input("enter list elements:"))
i=eval(input("enter particular element:"))
print("Number of occurences of this element is ",list.count(i))

enter list elements:[10,34,False,'adam','sid',10,35,'b',23.5,10,4,'adam',10]
enter particular element:10
Number of occurences of this element is  4

In [19]:
# reverse order of list
list=eval(input("enter list elements:"))
print("Right order: ",list)
list.reverse()
print("Reverse order: ",list)

enter list elements:[4,5,3,8,7,6,1,0,3.9,3.88,2,10]
Right order:  [4, 5, 3, 8, 7, 6, 1, 0, 3.9, 3.88, 2, 10]
Reverse order:  [10, 2, 3.88, 3.9, 0, 1, 6, 7, 8, 3, 5, 4]

In [15]:
# sort a list
list=eval(input("enter list elements:"))

print("Right order:",list)
list.sort()
print("Ascending order:",list)

enter list elements:[4,5,3,8,7,6,1,0,3.9,3.88,2,10]
Right order: [4, 5, 3, 8, 7, 6, 1, 0, 3.9, 3.88, 2, 10]
Ascending order: [0, 1, 2, 3, 3.88, 3.9, 4, 5, 6, 7, 8, 10]

In [22]:
# sort a list in descending order
list=eval(input("enter list elements:"))
print("\nRight order: ",list)
list.sort(reverse=True)
print("Descending order: ",list)

enter list elements:[6.9, 5, 10.1234, 1, 16, 2, 3, 67, 34, 98]

Right order:  [6.9, 5, 10.1234, 1, 16, 2, 3, 67, 34, 98]
Descending order:  [98, 67, 34, 16, 10.1234, 6.9, 5, 3, 2, 1]

In [4]:
# create a list of even and odd numbers between a range
even_list=[]
odd_list=[]
l=int(input("enter lower limit:"))
u=int(input("enter upper  limit:"))
for i in range(l,u+1):
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
        
print(f"\nList of even numbers between {l}-{u}:",even_list)
print(f"\nList of odd numbers between {l}-{u}:",odd_list)

enter lower limit:1
enter upper  limit:30

List of even numbers between 1-30: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

List of odd numbers between 1-30: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [6]:
# sum of all elements in list
list=eval(input("enter list elements:"))
x=sum(list)
print(f"Sum of all elements of {list}= {x}")

enter list elements:[2,5,7,18,21,34]
Sum of all elements of [2, 5, 7, 18, 21, 34]= 87

In [10]:
# find the maximum and minimum value:
list=eval(input("enter list elements:"))
print(list)
print("Maximum value: ",max(list))
print("Minimum value: ",min(list))

enter list elements:[20,12,23.4,23.4005,1,2,18,19]
[20, 12, 23.4, 23.4005, 1, 2, 18, 19]
Maximum value:  23.4005
Minimum value:  1

In [14]:
# create a list of square numbers from 1 to 10:
l=int(input("enter lower limit:"))
u=int(input("enter upper  limit:"))
sq_list=[]
for i in range(l,u+1):
        sq_list.append(i**2)
print("List of square numbers: ",sq_list)

enter lower limit:1
enter upper  limit:10
List of square numbers:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
# create a list of random numbers:
import random
n=int(input("enter range:"))
list=[]
for i in range(n):
    list.append(random.randint(i,n))
print("List:  ",list)

enter range:10
List:   [1, 2, 8, 6, 5, 10, 6, 8, 10, 10]

In [6]:
# remove duplicates from a list
l=eval(input("enter element:"))
print("\nList before duplication: ",l)
new=[]
for i in l:
    if i not in new:
        new.append(i)
print("\nList after duplication: ",new)
print("List after duplication: ",set(l))       #using set

enter element:[2,4,5,4,3,3,1,2,1,2.6,3,2.6,4,3,1,6]

List before duplication:  [2, 4, 5, 4, 3, 3, 1, 2, 1, 2.6, 3, 2.6, 4, 3, 1, 6]

List after duplication:  [2, 4, 5, 3, 1, 2.6, 6]
List after duplication:  {1, 2, 3, 4, 5, 2.6, 6}

In [9]:
# common elements between two lists
l1=eval(input("enter elements in 1st list: "))
l2=eval(input("enter elementsin 2nd list: "))
i=0
j=0
count=0
print(f"\n 1st list:\t{l1}")
print(f"2nd list:\t{l2}\n")
for i in l1:
    for j in l2:
        if [i]==[j]:
            count+=1
            print(f"Common element found!!! \tElement no.{count}: \t{i}")

enter elements in 1st list: [2.3,5.99,'dipanjan','akash','john','imran',34,89.67585]
enter elementsin 2nd list: ['dipanjan','akash',34,5.6,2,2.3]

 1st list:	[2.3, 5.99, 'dipanjan', 'akash', 'john', 'imran', 34, 89.67585]
2nd list:	['dipanjan', 'akash', 34, 5.6, 2, 2.3]

Common element found!!! 	Element no.1: 	2.3
Common element found!!! 	Element no.2: 	dipanjan
Common element found!!! 	Element no.3: 	akash
Common element found!!! 	Element no.4: 	34

In [22]:
# find the difference between two lists
l1=eval(input("enter elements in 1st list: "))
l2=eval(input("enter elements in 2nd list: "))
diff=[]
print(f"\n1st list:\t{l1}")
print(f"2nd list:\t{l2}\n")
for i in l1:
    if i not in l2 or i not in l1:
        diff.append(i)
print("\nDifference between two lists: ",diff)

enter elements in 1st list: [2.3,5.99,'dipanjan','akash','john','imran',34,89.67585]
enter elements in 2nd list: ['dipanjan', 'akash', 34, 2, 2.3]

1st list:	[2.3, 5.99, 'dipanjan', 'akash', 'john', 'imran', 34, 89.67585]
2nd list:	['dipanjan', 'akash', 34, 2, 2.3]


Difference between two lists:  [5.99, 'john', 'imran', 89.67585]

In [4]:
# merge two list
l1=eval(input("enter elements in 1st list: "))
l2=eval(input("enter elements in 2nd list: "))
print("\nMerged list in ordinary way: ",l1+l2)
l1.extend(l2)
print("Merged list using extend: ",l1)
#for i in l2:
        #temp.append(i)
#print("Merged list in loop way: ",temp)

enter elements in 1st list: [3,5,7,10,'b',8,9,11.88]
enter elements in 2nd list: [11.88,'x','y',False,9,11,67,10]

Merged list in ordinary way:  [3, 5, 7, 10, 'b', 8, 9, 11.88, 11.88, 'x', 'y', False, 9, 11, 67, 10]
Merged list using extend:  [3, 5, 7, 10, 'b', 8, 9, 11.88, 11.88, 'x', 'y', False, 9, 11, 67, 10]

In [6]:
# multiply all elements in a list with 2
l=eval(input("enter elements:"))
mul=[]
for i in l:
    mul.append(i*2)
print("Old list: ",l)
print("Multiplied list: ",mul)

enter elements:[23,12,34,43,23,19.876]
Old list:  [23, 12, 34, 43, 23, 19.876]
Multiplied list:  [46, 24, 68, 86, 46, 39.752]

In [9]:
# filter out all even numbers in a list
l=eval(input("enter element:"))
e=[]
for i in l:
    if i%2==0:
        e.append(i)
    else:
        continue
print("\ntotal list: ",l)
print("list containing even numbers: ",e)

enter element:[2,4,5,6,7,9,11,22,12,10,6.072,6.011]

total list:  [2, 4, 5, 6, 7, 9, 11, 22, 12, 10, 6.072, 6.011]
list containing even numbers:  [2, 4, 6, 22, 12, 10]

In [8]:
# convert a list into a list of integers to list of strings
list_int=eval(input("enter elements:"))
print("List of integers:\t",list_int)
list_string=[str(i) for i in list_int]
print("List of strings:\t",list_string)

enter elements:[10,20,30,40,50]
List of integers:	 [10, 20, 30, 40, 50]
List of strings:	 ['10', '20', '30', '40', '50']

In [13]:
# convert a list into a list of strings to list of integers
list_str=eval(input("enter elements:"))
print("List of strings:\t",list_str)
list_int=[int(i) for i in list_str]
print("List of integers:\t",list_int)

enter elements:['20', '40', '60', '80', '100']
List of strings:	 ['20', '40', '60', '80', '100']
List of integers:	 [20, 40, 60, 80, 100]

In [15]:
list=eval(input("enter elements:"))
flat_list=[]
for sublist in list:
    for i in sublist:
        flat_list.append(i)
print("\nOriginal list: ",list)
print("Flatten list: ",flat_list)

enter elements:[[10, 20], [23.45, 32.111], [1.2345, 4.6789], [True, False], ['dipanjan', 'dip']]

Original list:  [[10, 20], [23.45, 32.111], [1.2345, 4.6789], [True, False], ['dipanjan', 'dip']]
Flatten list:  [10, 20, 23.45, 32.111, 1.2345, 4.6789, True, False, 'dipanjan', 'dip']

In [3]:
#create a list of first 10 Fibonacci numbers:
n=int(input("enter number of terms: "))
a,b=0,1
fibo=0
i=0

print("Fibonacci terms are:\n")
if(n>0):
    print(a,b,end=' ')
    for i in range(n):
        fibo=a+b
        print(fibo,end=' ')
        a,b=b,fibo
else:
    ("Fibonacci term is:",a)

enter number of terms: 10
Fibonacci terms are:

0 1 1 2 3 5 8 13 21 34 55 89

In [30]:
# check if a l is sorted or not:
l=eval(input("enter list elements: "))
flag=0
for i in range(len(l)-1):
    if l[i] < l[i+1]:
        flag=1
    else:
        flag=0
        break
print("List: ",l)
if flag==1:
    print("the List is sorted")
else:
    print("The List is not sorted...")

enter list elements: [1, 2, 3, 4, 5, 7, 6, 8, 9, 10, 11]
List:  [1, 2, 3, 4, 5, 7, 6, 8, 9, 10, 11]
The List is not sorted...

In [38]:
# rotate a list to the left by n positions
list=eval(input("enter list elements: "))
pos=int(input("enter position from where it will be rotated: "))
print("\nList before rotation: ", list)

newlist=list[pos:]+list[:pos]
print("\nList after rotation: ", newlist)

enter list elements: [5, 6, 7.88, "dipanjan", 1, 9, "a", 10.2367]
enter position from where it will be rotated: 3

List before rotation:  [5, 6, 7.88, 'dipanjan', 1, 9, 'a', 10.2367]

List after rotation:  ['dipanjan', 1, 9, 'a', 10.2367, 5, 6, 7.88]

In [53]:
# rotate a list to the right by n positions 
list=eval(input("enter list elements: "))
pos=int(input("enter position from where it will be rotated: "))
print("\nList before rotation: ", list)
newlist=list[-pos:]+list[:-pos]
print("\nList after rotation: ", newlist)

enter list elements: [5, 6, 7.88, "dipanjan", 1, 9, "a", 10.2367]
enter position from where it will be rotated: 3

List before rotation:  [5, 6, 7.88, 'dipanjan', 1, 9, 'a', 10.2367]

List after rotation:  [9, 'a', 10.2367, 5, 6, 7.88, 'dipanjan', 1]

In [7]:
#create a list of prime numbers upto 50
list=[]
c=0
n=int(input("enter range:"))
for i in range(2,n):
    for j in range(2,n):
        if i%j==0:
            break
    if i==j:
        list.append(i)
print("List of prime numbers: ",list)

enter range:50
List of prime numbers:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
# split a list into the chunks of size 'n': 
split_list=[]
list=eval(input("enter list elements: "))
n=int(input("enter the size of the chunks: "))
for i in range(0,len(list),n):
    split_list.append(list[i:i+n])
    print(split_list)
print("\nOriginal list: ", list)
print("Splitted list: ", split_list)

enter list elements: [20, 50, 48, 57, 'a', True,'y', 'w', 65.99, 33, 56]
enter the size of the chunks: 3
[[20, 50, 48]]
[[20, 50, 48], [57, 'a', True]]
[[20, 50, 48], [57, 'a', True], ['y', 'w', 65.99]]
[[20, 50, 48], [57, 'a', True], ['y', 'w', 65.99], [33, 56]]

Original list:  [20, 50, 48, 57, 'a', True, 'y', 'w', 65.99, 33, 56]
Splitted list:  [[20, 50, 48], [57, 'a', True], ['y', 'w', 65.99], [33, 56]]

In [23]:
# find the second largest number in a list
list=eval(input("enter list elements: "))
list.sort()
print(list[-2])

enter list elements: [1,3,2,4,8,11,10,9]
10

In [25]:
# replace every elements of a list with its square
list=eval(input("enter list elements: "))
list1=[]
for i in list:
    list1.append(i**2)
print("List before square: ",list)
print("List after square: ",list1)

enter list elements: [1,5,13,24,22,21.67,30.444,12.04]
List before square:  [1, 5, 13, 24, 22, 21.67, 30.444, 12.04]
List after square:  [1, 25, 169, 576, 484, 469.5889000000001, 926.837136, 144.96159999999998]

In [26]:
# convert a list to a dictionary where list elements become keys and indices become values:

In [29]:
# shuffle the elements of a list:
import random
list=eval(input("enter list elements: "))
print("\nNormal List: ", list)
random.shuffle(list)
print("Random List: ",list)

enter list elements: [3,5,9,10,12,6.33,12]

Normal List:  [3, 5, 9, 10, 12, 6.33, 12]
Random List:  [10, 9, 12, 6.33, 5, 3, 12]

In [42]:
# create a list of first 10 factorial numbers:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
factlist=[]
x=int(input("enter number of factorial elements: "))
for i in range(1,x+1):
    factlist.append(fact(i))
print("First 10 factorial numbers: ",factlist)

enter number of factorial elements: 10
First 10 factorial numbers:  [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [62]:
# check if two lists have atleast one common element
list1=eval(input("enter first element:"))
list2=eval(input("enter second element:"))
c=0
for i in list1:
    if i in list2:
        c=1
if c==1:
    print("atleast one common element present")
else:
    print("no common element found")

enter first element:[1, 4.5, 6, 12, 8]
enter second element:[3, 9, 4.5, 13, 8]
atleast one common element present

In [68]:
# remove all elements from a list
list=eval(input("enter elements:"))
print("List: ", list)
list.clear()
print("Remove all elements from list: ",list)

enter elements:[2, 4, 'a', 'b', 3.556]
List:  [2, 4, 'a', 'b', 3.556]
Remove all elements from list:  []

In [3]:
# replace all -ve negative elements
list=eval(input("enter elements:"))
print("List: ", list)
for i in range(len(list)):
    if list[i]<=0:
        list[i]=0
print(list)

enter elements:[1, -3, -5, 6]
List:  [1, -3, -5, 6]
[1, 0, 0, 6]

In [2]:
# create a list of the first n powers of 2
list=[]
n=int(input("enter number of elements: "))
for i in range(n+1):
    print(f"2^{i}:{2**i}")
    list.append(2**i)
print("list of first n powers of 2:",list)

enter number of elements: 8
2^0:1
2^1:2
2^2:4
2^3:8
2^4:16
2^5:32
2^6:64
2^7:128
2^8:256
list of first n powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256]

In [23]:
# find longest string element in a list
list=eval(input("enter elements: "))
strlist=[]
for i in range(len(list)):
    if type(list[i])==str:
        strlist.append(list[i])
maxstr=max(strlist, key=len)
print(maxstr)

enter elements: [1,3,'dip','jack',6.89,False,'dipanjan', 'rwitobroto','ultron']
rwitobroto

In [24]:
# find shortest string element in a list
list=eval(input("enter elements: "))
strlist=[]
for i in range(len(list)):
    if type(list[i])==str:
        strlist.append(list[i])
minstr=min(strlist, key=len)
print(minstr)

enter elements: [1,3,'dip','jack',6.89,False,'dipanjan', 'rwitobroto','ultron']
dip

In [34]:
# swap two elements by their indices
ls=eval(input("enter elements: "))
print("List before swap: ",ls)
pos1=int(input("enter 1st element position:"))
pos2=int(input("enter 2nd element position:"))
ls[pos1],ls[pos2]=ls[pos2],ls[pos1]
print("List after swap: ",ls)

enter elements: [1,3,'dip','jack',6.89,False,'dipanjan', 'rwitobroto','ultron']
List before swap:  [1, 3, 'dip', 'jack', 6.89, False, 'dipanjan', 'rwitobroto', 'ultron']
enter 1st element position:2
enter 2nd element position:5
List after swap:  [1, 3, False, 'jack', 6.89, 'dip', 'dipanjan', 'rwitobroto', 'ultron']

In [7]:
# Tuple based practiced problems:

In [15]:
# create a tuple with integers from 1 to 5
tup=eval(input("enter elements:"))
print("Tuple: ",tup)

enter elements: 1,2,3,4,5

Tuple:  (1, 2, 3, 4, 5)

In [16]:
# access third element of tuple
tup=eval(input("enter elements:"))
print("Tuple: ",tup)
print(f"3rd element of {tup}: {tup[2]}")

enter elements: 56,23.45,'joy','surja'

Tuple:  (56, 23.45, 'joy', 'surja')
3rd element of (56, 23.45, 'joy', 'surja'): joy

In [17]:
# find the length  of tuple
tup=eval(input("enter elements:"))
print("Tuple: ",tup)
print("Length of the tuple: ",len(tup))

enter elements: 34,23,11.33,1.3487,"joe","b",False

Tuple:  (34, 23, 11.33, 1.3487, 'joe', 'b', False)
Length of the tuple:  7

In [19]:
# count the  occurences of an element in a tuple
tup=eval(input("enter elements:"))
print("Tuple: ",tup)
w=eval(input("enter element: "))
print(f"Occurence of {w} in the tuple= {tup.count(w)}")

enter elements: (45, 12, 'a', 'b', 'a', 12, 13, 5, 6, 12)

Tuple:  (45, 12, 'a', 'b', 'a', 12, 13, 5, 6, 12)

enter element:  12

Occurence of 12 in the tuple= 3

In [21]:
# find the index of the first  occurence of an element in tuple
tup=eval(input("enter elements:"))
w=eval(input("enter element: "))
print("Tuple: ",tup)
print(f"Index of first occurence of {w} in the tuple= {tup.index(w)}")

enter elements: (45, 12, 'a', 'b', 'a', 12, 13, 5, 6, 12)
enter element:  'a'

Tuple:  (45, 12, 'a', 'b', 'a', 12, 13, 5, 6, 12)
Index of first occurence of a in the tuple= 2

In [23]:
# check if an element exists in a  tuple
tup=eval(input("enter elements:"))
print("Tuple: ",tup)
element=eval(input("enter element:"))
if element in tup:
    print(f"\n\t{element} exists in the tuple.")
else:
    print(f"\n\t{element} doesn't exist in the tuple.")

enter elements: ('john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union')

Tuple:  ('john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union')

enter element: 'Elon'

	Elon exists in the tuple.

In [25]:
# convert a tuple in a list
tup=eval(input("enter elements:"))
print("Tuple: ",tup)
print(type(tup))
l=list(tup)
print("List: ",l)
print(type(l))

enter elements: ('john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union')

Tuple:  ('john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union')
<class 'tuple'>
List:  ['john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union']
<class 'list'>

In [28]:
# convert a list into tuple
l=eval(input("enter elements:"))
print("List: ",l)
print(type(l))
tup=tuple(l)
print("Tuple: ",tup)
print(type(tup))

enter elements: ['john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union']

List:  ['john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union']
<class 'list'>
Tuple:  ('john', 65.78, 'Elon', 'Mark', 13, 5.6789, 1, 5, 'union')
<class 'tuple'>

In [34]:
# unpack all elements in a tuple
tup=eval(input("enter elements:"))
print("Tuple elements before unpacking: ",tup)
print("Tuple elements after unpacking: ",end=' ')
for i in  tup:
    print(i,end=' ')

enter elements: (23,45,'queen','joker','spade','clover','king','heart','diamond',13.567,True)

Tuple elements before unpacking:  (23, 45, 'queen', 'joker', 'spade', 'clover', 'king', 'heart', 'diamond', 13.567, True)
Tuple elements after unpacking:  23 45 queen joker spade clover king heart diamond 13.567 True

In [37]:
# create a tuple of even numbers and a tuple of odd numbers from 1 to 10
even=[]
odd=[]
l=int(input("enter lower limit:"))
u=int(input("enter upper  limit:"))
for i in range(l,u+1):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print(f"\nList of even numbers between {l}-{u}:",tuple(even))
print(f"\nList of odd numbers between {l}-{u}:",tuple(odd))

enter lower limit: 1
enter upper  limit: 10

List of even numbers between 1-10: (2, 4, 6, 8, 10)

List of odd numbers between 1-10: (1, 3, 5, 7, 9)

In [39]:
# concatenate two tuples
tup1=eval(input("enter elements in first tuple:"))
tup2=eval(input("enter elements in second tuple:"))
tup3=tup1+tup2
print("First tuple: ",tup1)
print("Second tuple:  ",tup2)
print("\nConcatenated Tuple: ",tup3)

enter elements in first tuple: -5, -4, -3, -2, -1
enter elements in second tuple: 0, 1, 2, 3, 4, 5

First tuple:  (-5, -4, -3, -2, -1)
Second tuple:   (0, 1, 2, 3, 4, 5)

Concatenated Tuple:  (-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5)

In [3]:
# repeat a tuple n times
tup=eval(input("enter elements:"))
n=int(input("how many times should the tuple be repeated "))
tup1=tup*n
print("Tuple: ",tup1)
#repeat tuple n times as subtuples
tup2=(tup, )*n
print("Tuple: ",tup2)

enter elements:6,8.9, 11.1345
how many times should the tuple be repeated 3
Tuple:  (6, 8.9, 11.1345, 6, 8.9, 11.1345, 6, 8.9, 11.1345)
Tuple:  ((6, 8.9, 11.1345), (6, 8.9, 11.1345), (6, 8.9, 11.1345))

In [5]:
#check if a tuple empty

tup=eval(input("enter elements:"))
print("Tuple: ",tup)
if not tup:
    print("the tuple is empty...")
else:
    print("the tuple is not empty...")

enter elements:()
Tuple:  ()
the tuple is empty...

In [8]:
# create a nested tuple
name=eval(input("enter names:"))
age=eval(input("enter ages:"))
tup+=((name,age))
print("Tuple: ",tup)

enter names:'dip','rohan','sukh','gurvir'
enter ages:21,21,20,23
Tuple:  (('dip', 'alex'), (12, 13), ('dip', 'rohan', 'sukh', 'gurvir'), (21, 21, 20, 23))

In [3]:
# access first element of a nested tuple
tup=eval(input("enter elements:"))
print("Tuple: ",tup)
i=int(input("enter nested tuple position in tuple: "))
print(f"First element of the nested tuple {i}: ",tup[i][0])

enter elements:(10.7,('dj',23,11),6,(1,'d',56.5),5.6,(7.777,34,67),('joy','raj','g'))
Tuple:  (10.7, ('dj', 23, 11), 6, (1, 'd', 56.5), 5.6, (7.777, 34, 67), ('joy', 'raj', 'g'))
enter nested tuple position in tuple: 1
First element of the nested tuple 1:  dj

In [4]:
# create a tuple with single element
tup=eval(input("enter element:"))
print("Tuple: ",tup)

enter element:14,
Tuple:  (14,)

In [2]:
#compare two tuples
tup1=eval(input("enter elements in first tuple:"))
tup2=eval(input("enter elements in second tuple:"))

print("Tuple no.1: ",tup1)
print("Tuple no.2: ",tup2)

if tup1==tup2:
    print("Tuples are equal...")
else:
    print("Tuples are not equal...")

enter elements in first tuple:10,'a','e',11
enter elements in second tuple:10,'w',8,12
Tuple no.1:  (10, 'a', 'e', 11)
Tuple no.2:  (10, 'w', 8, 12)
Tuples are not equal...

In [9]:
#delete a tuple
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
del tup

print("Tuple: ",())

enter elements: (3,'a',4,8)
Tuple:  (3, 'a', 4, 8)
Tuple:  ()

In [11]:
# slice a tuple
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
p1=int(input("from: "))
p2=int(input("to: "))
print("Sliced tuple: ",tup[p1:p2])

enter elements: (91,23.4,5,8,0.11,'w','hello',12)
Tuple:  (91, 23.4, 5, 8, 0.11, 'w', 'hello', 12)
from: 2
to: 6
Sliced tuple:  (5, 8, 0.11, 'w')

In [14]:
# find maximum value in tuple
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
print("Maximum value in this tuple is ",max(tup))

enter elements: (91, 23.4, 5, 8, 0.11, 12)
Tuple:  (91, 23.4, 5, 8, 0.11, 12)
Maximum value in this tuple is  91

In [15]:
# find minimum value in tuple
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
print("Minimum value in the tuple is ",min(tup))

enter elements: (91, 23.4, 5, 8, 0.11, 12)
Tuple:  (91, 23.4, 5, 8, 0.11, 12)
Minimum value in the tuple is  0.11

In [16]:
# merge two tuples
tup1=eval(input("enter elements in first tuple:"))
tup2=eval(input("enter elements in second tuple:"))

print("Tuple no.1: ",tup1)
print("Tuple no.2: ",tup2)

tup3=tup1+tup2
print("Merged tuple: ",tup3)

enter elements in first tuple:1,2,3
enter elements in second tuple:3.1,3.2,3.3
Tuple no.1:  (1, 2, 3)
Tuple no.2:  (3.1, 3.2, 3.3)
Merged tuple:  (1, 2, 3, 3.1, 3.2, 3.3)

In [27]:
#flatten a nested tuple:
tup=eval(input("enter elements: "))
flattup=()
print("Original Tuple: ",tup)
for subtup in tup:
    if isinstance(subtup,tuple):
        for i in subtup:
            flattup+=(i,)
    else:
        flattup+=(subtup,)
        
print("Flatten tuple: ",flattup)

enter elements: ((10, 20), (23.45, 32.111), (1.2345, 4.6789), (True, False), ('dipanjan', 'dip'))
Original Tuple:  ((10, 20), (23.45, 32.111), (1.2345, 4.6789), (True, False), ('dipanjan', 'dip'))
Flatten tuple:  (10, 20, 23.45, 32.111, 1.2345, 4.6789, True, False, 'dipanjan', 'dip')

In [29]:
# convert a string to a tuple of characters
string=input("enter string: ")
print("String: ",string)
tup=tuple(string)
print("Tuple: ",tup)

enter string: dipanjan
String:  dipanjan
Tuple:  ('d', 'i', 'p', 'a', 'n', 'j', 'a', 'n')

In [32]:
# convert a tuple of characters to a string
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
string=''.join(tup)
print("String: ",string)

enter elements: ('d', 'i', 'p', 'a', 'n', 'j', 'a', 'n')
Tuple:  ('d', 'i', 'p', 'a', 'n', 'j', 'a', 'n')
String:  dipanjan

In [36]:
# convert a tuple of strings into a tuple of integers
strtup=eval(input("enter elements: "))
inttup=tuple(int(i) for i in strtup)
print("Tuple of Strings: ",strtup)
print("Tuple of integers: ",inttup)

enter elements: ('8', '3', '4', '6', '5')
Tuple of Strings:  ('8', '3', '4', '6', '5')
Tuple of integers:  (8, 3, 4, 6, 5)

In [49]:
# create a tuple of first 10 prime numbers
#tup=eval(input("enter elements: "))
tup=()

n=int(input("enter range: "))
for i in range(2,n+1):
    for j in range(2,n):
        if i%j==0:
            break
    if i==j:
        tup+=(i,)
        
print("Tuple: ",tup)

enter range: 30
Tuple:  (2, 3, 5, 7, 11, 13, 17, 19, 23, 29)

In [11]:
# check if a tuple is palindrome or not
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
rev=tup[::-1]
print("Reversed tuple: ",rev)
if tup==rev:
    print("\t The tuple is palindrome...")
else:
    print("\t The tuple is nonpalindrome...")

enter elements: 'd','a','d'
Tuple:  ('d', 'a', 'd')
Reversed tuple:  ('d', 'a', 'd')
	 The tuple is palindrome...

In [27]:
# create a tuple of square numers upto 5
tup=tuple(i**2 for i in range(6))
print("Tuple: ",tup)

Tuple:  (0, 1, 4, 9, 16, 25)

In [31]:
# filter out all even numbers
tup=eval(input("enter elements: "))
eventup=()
for i in tup:
    if i%2==0:
        eventup+=(i, )
print("Tuple: ",tup)
print("Even tuple: ", eventup)

enter elements: 19,14,16,18,9,17,35,11,20
Tuple:  (19, 14, 16, 18, 9, 17, 35, 11, 20)
Even tuple:  (14, 16, 18, 20)

In [33]:
# multiply all elements by 2
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
multup=tuple(i*2 for i in tup)
print("Multiplied tuple: ",multup)

enter elements: 5, 7, 18, 35, 44, 67, 79, 88, 97, 102, 201
Tuple:  (5, 7, 18, 35, 44, 67, 79, 88, 97, 102, 201)
Multiplied tuple:  (10, 14, 36, 70, 88, 134, 158, 176, 194, 204, 402)

In [43]:
# create a tuple of random numbers
import random
tup=()
n=int(input("enter range:"))
for i in range(n):
    tup+=((random.randint(i,n)), )
print("Random Tuple: ",tup)

enter range:20
Random Tuple:  (16, 20, 12, 18, 13, 10, 10, 14, 15, 15, 17, 20, 16, 15, 19, 15, 16, 19, 18, 20)

In [51]:
# check if a tuple is sorted 
tup=eval(input("enter elements: "))
print("Tuple: ",tup)
if tup==tuple(sorted(tup)):
    print("\t the tuple is sorted...")
else:
    print("\t the tuple is not sorted...")

enter elements: 1, 3, 5.442, 5.441, 7, 8
Tuple:  (1, 3, 5.442, 5.441, 7, 8)
	 the tuple is not sorted...

In [54]:
# rotate a tuple from nth position by left
tup=eval(input("enter elements: "))
pos=int(input("enter position from where it will be rotated: "))
print("\nTuple before rotation: ", tup)
newtup=tup[pos:]+tup[:pos]
print("\nTuple after rotation: ", newtup)

enter elements: ( 5, 6, 7.88, "dipanjan", 1, 9, "a", 10.2367 )
enter position from where it will be rotated: 3

Tuple before rotation:  (5, 6, 7.88, 'dipanjan', 1, 9, 'a', 10.2367)

Tuple after rotation:  ('dipanjan', 1, 9, 'a', 10.2367, 5, 6, 7.88)

In [55]:
# rotate a tuple from nth position by right
tup=eval(input("enter elements: "))
pos=int(input("enter position from where it will be rotated: "))
print("\ntup before rotation: ", tup)
newtup=tup[-pos:]+tup[:-pos]
print("\ntup after rotation: ", newtup)

enter elements: 5, 6, 7.88, "dipanjan", 1, 9, "a", 10.2367
enter position from where it will be rotated: 3

tup before rotation:  (5, 6, 7.88, 'dipanjan', 1, 9, 'a', 10.2367)

tup after rotation:  (9, 'a', 10.2367, 5, 6, 7.88, 'dipanjan', 1)

In [21]:
# create a tuple of first 5 fibonacci
n=int(input("enter number of terms: "))
tup=()
a,b=0,1
fibo=0
i=0

print("Fibonacci terms are:\n")
if(n>0):
    print(a,b,end=' ')
    for i in range(n):
        fibo=a+b
        print(fibo,end=' ')
        a,b=b,fibo
else:
    ("Fibonacci term is:",a)

enter number of terms: 15
Fibonacci terms are:

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [32]:
# swap 2 elements of tuple    
tup=eval(input("enter elements: "))
ls=list(tup)
print("Tuple before swap: ",tup)
pos1=int(input("enter 1st element position:"))
pos2=int(input("enter 2nd element position:"))
ls[pos1],ls[pos2]=ls[pos2],ls[pos1]
newtup=tuple(ls)
print("Tuple after swap: ",newtup)

enter elements: 7, 1, 4.6, 8.9, 3.1143, 'a', 11.32
Tuple before swap:  (7, 1, 4.6, 8.9, 3.1143, 'a', 11.32)
enter 1st element position:2
enter 2nd element position:4
Tuple after swap:  (7, 1, 3.1143, 8.9, 4.6, 'a', 11.32)

In [47]:
# create a tuple of first n powers of 2
tup=()
n=int(input("enter number of elements:"))
for i in range(n+1):
    print(f"2^{i} = {2**i}")
    tup+=(2**i,)
print("Tuple of first n powered: ",tup)

enter number of elements:8
2^0 = 1
2^1 = 2
2^2 = 4
2^3 = 8
2^4 = 16
2^5 = 32
2^6 = 64
2^7 = 128
2^8 = 256
Tuple of first n powered:  (1, 2, 4, 8, 16, 32, 64, 128, 256)

In [50]:
# find the longest and shortest string in tuple
tup=eval(input("enter elements: "))
strtup=()
print("Tuple: ",tup)
for i in tup:
    if type(i)==str:
        strtup+=(i,)
# print(strtup)
print(f"\tLongest string in the tuple is {max(strtup,key=len)}")
print(f"\tShortest string in the list is {min(strtup,key=len)}")

enter elements: (1,3,'dip','jack',6.89,False,'dipanjan', 'rwitobroto','ultron')
Tuple:  (1, 3, 'dip', 'jack', 6.89, False, 'dipanjan', 'rwitobroto', 'ultron')
	Longest string in the tuple is rwitobroto
	Shortest string in the list is dip

In [21]:
# create a tuple of first n triangular numbers
tup=eval(input("enter elements: "))
print("Tuple: ",tup)

In [55]:
# check if a tuple contains another tuple as subsequence
tup1=eval(input("enter elements in 1st tuple: "))
tup2=eval(input("enter elements in 2nd tuple: "))
print("Tuple no.1: ",tup1)
print("Tuple no.2: ",tup2)

res_tup=set(tup2).issubset(tup1)           #check if tup1 contains tup2 as its subset
print("Does first tuple contain second tuple as its subsequence: ",res_tup)

enter elements in 1st tuple: 1,2,3,4
enter elements in 2nd tuple: 3,4
Tuple no.1:  (1, 2, 3, 4)
Tuple no.2:  (3, 4)
Does first tuple contain second tuple as its subsequence:  True

In [1]:
# Set based practiced problems:

In [5]:
# create a set of integers from 1 to 5
s=eval(input("enter numbers:"))
s=set(s)
print(s,type(s))

enter numbers:1,2,3,4,5
{1, 2, 3, 4, 5} <class 'set'>

In [13]:
# add an element to a set
s=eval(input("enter numbers:"))
e=eval(input("enter element:"))
s=set(s)
s.add(e)
print("Set: ",s)

enter numbers:12,1.76,'dip','joy',0.76008
enter element:3.1425
Set:  {0.76008, 1.76, 3.1425, 'dip', 12, 'joy'}

In [14]:
# remove an element from a set
s=eval(input("enter elements:"))
e=eval(input("enter element:"))
s=set(s)
s.remove(e)
print("Set: ",s)

enter elements:12,1.76,'dip','joy',0.76008
enter element:1.76
Set:  {0.76008, 'dip', 12, 'joy'}

In [17]:
# check if an element exist in a set
s=eval(input("enter elements:"))
e=eval(input("enter element:"))
s=set(s)
print("Set: ",s)
print("Does the element exist in the set? ", e in s)

enter elements:23,56,'ajoy',6.99,14.3335
enter element:23
Set:  {6.99, 14.3335, 23, 56, 'ajoy'}
Does the element exist in the set?  True

In [28]:
# find the length of a set without using len()
s=eval(input("enter elements:"))
c=0
for i in s:
    c+=1
s=set(s)
print("Set: ",s)
print("Length of the set: ",c)

enter elements:4,6,10,12,True,False,11.9,2.876,'jack','yami',23
Set:  {False, True, 2.876, 'yami', 4, 6, 10, 11.9, 12, 'jack', 23}
Length of the set:  11

In [29]:
# clear all elements from set
s=eval(input("enter elements:"))
s=set(s)
print("Set: ",s)
s.clear()
print("Set: ",s)

enter elements:{False, True, 2.876, 'yami', 4, 6, 10, 11.9, 12, 'jack', 23}
Set:  {False, True, 2.876, 'yami', 4, 6, 10, 11.9, 12, 'jack', 23}
Set:  set()

In [92]:
# create a set of even numbers from 1 to 10
even_s=set()
n=int(input("enter range:"))
for i in range(1,n+1):
    if i%2==0:
        even_s.add(i)
print("Even set: ",even_s)

enter range:10
Even set:  {2, 4, 6, 8, 10}

In [96]:
# create a set of odd numbers from 1 to 10
odd_s=set()
n=int(input("enter range:"))
for i in range(1,n+1):
    if i%2!=0:
        odd_s.add(i)
print("Odd set: ",odd_s)

enter range:10
Odd set:  {1, 3, 5, 7, 9}

In [67]:
# find the union of 2 sets
w=set()
s=eval(input("enter elements in 1st set:"))
y=eval(input("enter elements in 2nd set:"))
y=set(y)
s=set(s)
print("Set 1: ",s)
print("Set 2: ",y)
w=s.union(y)
print("Union set: ",w)
print("Union set: ",s|y)

enter elements in 1st set:10, 20, 30, 40, 50, 60, 80, 70
enter elements in 2nd set:1, 5, 20, 40, 60, 9, 8
Set 1:  {70, 40, 10, 80, 50, 20, 60, 30}
Set 2:  {1, 5, 40, 9, 8, 20, 60}
Union set:  {1, 5, 70, 40, 9, 10, 8, 80, 50, 20, 60, 30}
Union set:  {1, 5, 70, 40, 9, 10, 8, 80, 50, 20, 60, 30}

In [66]:
# find the intersection of 2 sets
w=set()
x=eval(input("enter elements in 1st set:"))
y=eval(input("enter elements in 2nd set:"))
x=set(x)
y=set(y)
print("Set 1: ",x)
print("Set 2: ",y)
w=x.intersection(y)
print("Intersection set: ",w)
print("Intersection set: ",x&y)

enter elements in 1st set:10, 20, 30, 40, 50, 60, 80, 70
enter elements in 2nd set:1, 5, 20, 40, 60, 9, 8
Set 1:  {70, 40, 10, 80, 50, 20, 60, 30}
Set 2:  {1, 5, 40, 9, 8, 20, 60}
Intersection set:  {40, 20, 60}
Intersection set:  {40, 20, 60}

In [42]:
# find the differences between 2 sets
x=eval(input("enter elements in 1st set:"))
y=eval(input("enter elements in 2nd set:"))
x=set(x)
y=set(y)
print("Set 1: ",x)
print("Set 2: ",y)
print("Difference between two sets: ",x.difference(y))
print("Difference between two sets: ",x-y)

enter elements in 1st set:10, 20, 30, 40, 50, 60
enter elements in 2nd set:60, 70, 80, 50, 90, 40, 100
Set 1:  {40, 10, 50, 20, 60, 30}
Set 2:  {100, 70, 40, 80, 50, 90, 60}
Difference between two sets:  {10, 20, 30}
Difference between two sets:  {10, 20, 30}

In [44]:
# check if a set is subset of another set
x=eval(input("enter elements in 1st set:"))
y=eval(input("enter elements in 2nd set:"))
x=set(x)
y=set(y)
print("Set 1: ",x)
print("Set 2: ",y)
res=y.issubset(x)
print("Set 1 contains Set 2 as subset: ",res)

enter elements in 1st set:1,2,3,4
enter elements in 2nd set:3,4
Set 1:  {1, 2, 3, 4}
Set 2:  {3, 4}
Set 1 contains Set 2 as subset:  True

In [47]:
# check if a set is superset of another set
x=eval(input("enter elements in 1st set:"))
y=eval(input("enter elements in 2nd set:"))
x=set(x)
y=set(y)
res=y.issuperset(x)
print("Set 1: ",x)
print("Set 2: ",y)
print("Set 1 contains Set 2 as superset: ",res)

enter elements in 1st set:1, 2, 3, 4, 5, 6, 7
enter elements in 2nd set:1, 5, 7, 8, 9, 2, 3, 4, 6, 10, 12, 11.9
Set 1:  {1, 2, 3, 4, 5, 6, 7}
Set 2:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11.9, 12}
Set 1 contains Set 2 as superset:  True

In [49]:
# create a set from a list
s=eval(input("enter elements:"))
print(s, type(s))
s=set(s)
print(s, type(s))

enter elements:[12.8, 'jay', 'raj', 'a', 1, 5, 8]
[12.8, 'jay', 'raj', 'a', 1, 5, 8] <class 'list'>
{1, 5, 8, 'jay', 12.8, 'raj', 'a'} <class 'set'>

In [50]:
# convert a set to a list
s=eval(input("enter elements:"))
s=set(s)
print(s, type(s))
s=list(s)
print(s, type(s))

enter elements:{1, 5, 8, 'jay', 12.8, 'raj', 'a'}
{1, 'a', 5, 8, 'jay', 12.8, 'raj'} <class 'set'>
[1, 'a', 5, 8, 'jay', 12.8, 'raj'] <class 'list'>

In [56]:
# remove a random element from a set
import random
s=eval(input("enter elements:"))
e=eval(input("enter element:"))
s=set(s)
print("Set: ",s)
s.remove(e)
print("New set: ",s)

enter elements:1,5,7,'i','p'
enter element:7
Set:  {1, 5, 7, 'i', 'p'}
New set:  {1, 5, 'i', 'p'}

In [57]:
# pop an element from a list
s=eval(input("enter elements:"))
s=set(s)
print("Set: ",s)
s.pop()
print("Modified Set: ",s)

enter elements:0.4,1,5,7,'i','p'
Set:  {0.4, 1, 5, 7, 'i', 'p'}
Modified Set:  {1, 5, 7, 'i', 'p'}

In [69]:
# check if two sets have no elements in common
s=eval(input("enter elements in 1st set:"))
y=eval(input("enter elements in 2nd set:"))
y=set(y)
s=set(s)
print("Set 1: ",s)
print("Set 2: ",y)
if s&y==set():
    print("there is no common element in these sets...")
else:
    print("Common elements: ",s&y)

enter elements in 1st set:1, 2, 9, 12, 23, 45
enter elements in 2nd set:10, 20, 'd'
Set 1:  {1, 2, 9, 12, 45, 23}
Set 2:  {10, 'd', 20}
there is no common element in these sets...

In [70]:
# find the symmetric difference between 2 sets
###(same as intersecton)

In [71]:
# update a set with elements from another set
x=set(eval(input("enter elements in a set: ")))
y=set(eval(input("enter elements in the element set: ")))
print("Set: ",x)
x.update(y)
print("Set: ",x)

enter elements in a set: 1,2,3
enter elements in the element set: 4,5,6
Set:  {1, 2, 3}
Set:  {1, 2, 3, 4, 5, 6}

In [80]:
# create a set of first 5 prime prime numbers
s=set()
n=int(input("enter range:"))
for i in range(2,n+1):
    for j in range(2,n+1):
        if i%j==0:
            break
    if i==j:
        s.add(i)
print("Set: ",s)

enter range:12
Set:  {2, 3, 5, 7, 11}

In [84]:
# check if 2 sets are identical
c=0
s1=set(eval(input("enter elements: ")))
s2=set(eval(input("enter elements: ")))
print("Set I: ",s1)
print("Set II: ",s2)
if s1==s2:
    print("identical")
else:
    print("non-identical")

enter elements: 1,2,3,4
enter elements: 1,3,5,7
Set I:  {1, 2, 3, 4}
Set II:  {1, 3, 5, 7}
non-identical

In [79]:
# create a frozen set
# s=set(eval(input("enter elements: ")))

In [87]:
# check if a set is disjoint with another set
s1=set(eval(input("enter elements: ")))
s2=set(eval(input("enter elements: ")))
print("Set I: ",s1)
print("Set II: ",s2)
if s1.isdisjoint(s2)==False:
    print("disjointed sets...")
else:
    print("united sets...")

enter elements: 1, 2, 9, 11, 111
enter elements: 13, 15, 67, 111
Set I:  {1, 2, 9, 11, 111}
Set II:  {67, 111, 13, 15}
disjointed sets...

In [90]:
# create a set of squares from 1 to 5
s=set()
n=int(input("enter range:"))
for i in range(1,n+1):
    s.add(i**2)
print("Set:",s)

enter range:5
Set: {1, 4, 9, 16, 25}

In [93]:
# filter out all even numbers from a set
even_s=set()
s=eval(input("enter elements:"))
s=set(s)
for i in s:
    if i%2==0:
        even_s.add(i)
print("Set: ",s)
print("Even set: ",even_s)

enter elements:11,12,33,2,1,6,7,78,88,9,0,2,5,13,14,45,7,9,8,61,6,66
Set:  {0, 33, 2, 1, 66, 5, 6, 7, 8, 9, 11, 12, 13, 78, 14, 45, 88, 61}
Even set:  {0, 2, 66, 6, 8, 12, 78, 14, 88}

In [94]:
# filter out all odd numbers from a set
s=eval(input("enter elements:"))
odd_s=set()
for i in s:
    if i%2!=0:
        odd_s.add(i)
s=set(s)
print("Set: ",s)
print("Odd set: ",odd_s)

enter elements:11,12,33,2,1,6,7,78,88,9,0,2,5,13,14,45,7,9,8,61,6,66
Set:  {0, 33, 2, 1, 66, 5, 6, 7, 8, 9, 11, 12, 13, 78, 14, 45, 88, 61}
Odd set:  {33, 1, 5, 7, 9, 11, 13, 45, 61}

In [26]:
# multiply all elements of set with 3
s=set(eval(input("enter elements:")))
print("Set: ",s)

In [97]:
# create a set of  random numbers
import random
n=int(input("enter range:"))
s=set()
for i in range(n):
    s.add(random.randint(i,n))
print("Set: ",s)

enter range:20
Set:  {9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [101]:
# check if a set is empty or not
s=set(eval(input("enter elements:")))
print("Set: ",s)
if not s:
    print("the set is empty...")
else:
    print("the set is not empty...")

enter elements:{}
Set:  set()
the set is empty...

In [115]:
# create a nested set
s=set()
fr=frozenset(f)
n=int(input("enter range:"))
for i in range(n+1):
    e=set(input("enter elements:").split())
    s.add(frozenset(e))
nes=frozenset(s)
print(nes)

enter range:3
enter elements:1,2
enter elements:1,2,3
enter elements:3,4,5
enter elements:6,7,8
frozenset({frozenset({'6,7,8'}), frozenset({'1,2'}), frozenset({'1,2,3'}), frozenset({'3,4,5'})})

In [124]:
# remove an remove an element from set using discard()
s=set(eval(input("enter elements:")))
e=eval(input("enter element to be discarded:"))
print("Set: ",s)
s.discard(e)
print("Modified Set:",s)

enter elements:12,14.566,'dip',2.777,55,89,74
enter element to be discarded:55
Set:  {2.777, 'dip', 74, 12, 14.566, 55, 89}
Modified Set: {2.777, 'dip', 74, 12, 14.566, 89}

In [132]:
# compare 2 sets
s1=set(eval(input("enter elements: ")))
s2=set(eval(input("enter elements: ")))
print("Set I: ",s1)
print("Set II: ",s2)
print("set I == set II:",s1==s2)
print("set I!= set II:",s1!=s2)

enter elements: 11,12,13,7
enter elements: 55,7,8,45
Set I:  {11, 12, 13, 7}
Set II:  {8, 7, 45, 55}
set I == set II: False
set I!= set II: True

In [3]:
# create a set of strings to a set of integers
s=set(eval(input("enter elements:")))
intset=set(int(i) for i in s)
print(intset)

enter elements:'23', '55', '12', '17', '168', '1000'
{1000, 168, 12, 17, 55, 23}

In [4]:
# create a set of integers to a set of strings
s=set(eval(input("enter elements:")))
strset=set(str(i) for i in s)
print(strset)

enter elements:{1000, 168, 12, 17, 55, 23}
{'55', '168', '12', '1000', '23', '17'}

In [18]:
# create a set from a tuple
s=set()
tup=eval(input("enter elements:"))
print(f"Tuple: {tup} \t Type: {type(tup)}")
for i in tup:
    s.add(i)
print(f"Set: {s} \t Type: {type(s)}")

enter elements:12,'a',45.88,1.0987,(3,2),129,'dip','jorge'
Tuple: (12, 'a', 45.88, 1.0987, (3, 2), 129, 'dip', 'jorge') 	 Type: <class 'tuple'>
Set: {'dip', 1.0987, 129, 12, 45.88, (3, 2), 'jorge', 'a'} 	 Type: <class 'set'>

In [13]:
# convert a set to a tuple
s=set(eval(input("enter elements:")))
print("Set: ",s,"\t\tType:",type(s))
tup=tuple(s)
print("Tuple: ",tup,"\tType:",type(tup))

enter elements:12,'a',45.88,1.0987,(3,2)
Set:  {1.0987, 12, 45.88, (3, 2), 'a'} 		Type: <class 'set'>
Tuple:  (1.0987, 12, 45.88, (3, 2), 'a') 	Type: <class 'tuple'>

In [21]:
# find maximum and minimum value in set
s=set(eval(input("enter elements:")))
print("Set: ",s)
print("Maximum value:",max(s),"\nMinimum value:",min(s))

enter elements:1,9,4,10,17,13,23,21,20.5,20,33,31,35,36.987,36.98,45.98,77,73,66,84
Set:  {1, 4, 9, 10, 13, 17, 20.5, 21, 20, 23, 31, 33, 35, 36.987, 36.98, 45.98, 66, 73, 77, 84}
Maximum value: 84
Minimum value: 1

In [19]:
# create a set of first 5 fibonacci numbers
n=int(input("enter number of terms: "))
s=set()
a,b=0,1
fibo=0
print("Fibonacci terms are:")
if(n>0):
    for i in range(n):
        s.add(fibo)
        fibo=a+b
        a,b=b,fibo
print(s)

enter number of terms: 5
Fibonacci terms are:
{0, 1, 2, 3, 5}

In [20]:
# check if intersection of two sets are empty or not
x=set(eval(input("enter elements in 1st set:")))
y=set(eval(input("enter elements in 2nd set:")))
print("Set 1: ",x)
print("Set 2: ",y)
if x&y==0:
    print("Intersection set is empty...")
else:
    print("Intersection set: ",x&y)

enter elements in 1st set:1, 2, 9, 12, 23, 45
enter elements in 2nd set:23,11,100,45,'s'
Set 1:  {1, 2, 9, 12, 45, 23}
Set 2:  {100, 11, 45, 's', 23}
Intersection set:  {45, 23}

In [30]:
# check if two sets have the same elements regardless of their count
x=set(eval(input("enter elements in 1st set:")))
y=set(eval(input("enter elements in 2nd set:")))
count=0
print("Set 1: ",x)
print("Set 2: ",y)
if len(x)==len(y):
    if x==y:
        print("same elements")
    else:
        print("same length but not same elements")
else:
    print("sets are of different lengths...")

enter elements in 1st set:10,13,16,19
enter elements in 2nd set:10,13,16,19
Set 1:  {16, 10, 19, 13}
Set 2:  {16, 10, 19, 13}
same elements

In [32]:
# find common elements between a set and list
x=set(eval(input("enter elements in set:")))
l=eval(input("enter elements in list:"))
print("Set:",x)
print("List:",l)
com=x&set(l)
print("Common elements:" ,com)
# 
#

enter elements in set:1,5,7,9,11
enter elements in list:[11,45,'b',6,7,4]
Set: {1, 5, 7, 9, 11}
List: [11, 45, 'b', 6, 7, 4]
Common elements: {11, 7}

In [34]:
# merge multiple sets into one set
s1=set(eval(input("enter elements:")))
s2=set(eval(input("enter elements:")))
s3=set(eval(input("enter elements:")))
print("Set I:",s1)
print("Set II:",s2)
print("Set III:",s3)
print("Merged set using {| operator(union)}: ",s1|s2|s3)

s1.update(s2,s3)
print("Merged set using update:",s1)

enter elements:12,66,78,99,34,87,66,9
enter elements:1.34,7.99,55.1288705,12.111456,45,78,87
enter elements:'zero', 'dip', 'apple', 'fruit'
Set I: {66, 99, 34, 9, 12, 78, 87}
Set II: {1.34, 7.99, 12.111456, 45, 78, 87, 55.1288705}
Set III: {'fruit', 'apple', 'zero', 'dip'}
Merged set using {| operator(union)}:  {1.34, 66, 99, 34, 7.99, 'fruit', 9, 12, 12.111456, 78, 45, 'apple', 55.1288705, 87, 'zero', 'dip'}
Merged set using update: {1.34, 66, 99, 34, 7.99, 'fruit', 9, 12, 12.111456, 78, 45, 'apple', 55.1288705, 87, 'zero', 'dip'}