In [6]:
#                         ---FOR LOOP---

In [4]:
#python program to print 1 to 10 using for loop

i=1
print("Numbers from 1 to 10 are:")
for i in range(1,11):
    print(f"\t{i}",end='')

Numbers from 1 to 10 are:
	1	2	3	4	5	6	7	8	9	10

In [5]:
#calculate the sum of all numbers between 1 & 100

i=0
sum=0

for i in range(1,101):
    sum=sum+i
print("Sum of all numbers between 1 to 100 are:",sum)

Sum of all numbers between 1 to 100 are: 5050

In [62]:
#iterate a l using for  loop
l=eval(input("Enter element:"))
n=len(l)
for i in l:
    print(i)
    
for i in range(n):
    print(f"\n Element {i+1}: {l[i]}")

Enter element:5,17,45,'Dipanjan','John',34.88,97.12345
5
17
45
Dipanjan
John
34.88
97.12345

 Element 1: 5

 Element 2: 17

 Element 3: 45

 Element 4: Dipanjan

 Element 5: John

 Element 6: 34.88

 Element 7: 97.12345

In [51]:
#product of all elements of a l using for loop
product=1
l=eval(input("enter elements in a l:"))
for i in l:
    product=product*i
print(f"product of all elements in l {l} are:",product)

enter elements in a list:3,12,56,57,98,12
product of all elements in list (3, 12, 56, 57, 98, 12) are: 135136512

In [84]:
#print all even numbers in a range
l=int(input("Enter lower limit:"))
u=int(input("Enter upper limit:"))
count=0
j=0
even=0

print("Even numbers in the given range:\n")
for i in range(l,u+1):
    if i%2==0:
        print("\t",i,end='')
        count+=1
    
print("\n\nTherefore total number of even nummber in this range are:",count)

Enter lower limit:70
Enter upper limit:150
Even numbers in the given range:

	 70	 72	 74	 76	 78	 80	 82	 84	 86	 88	 90	 92	 94	 96	 98	 100	 102	 104	 106	 108	 110	 112	 114	 116	 118	 120	 122	 124	 126	 128	 130	 132	 134	 136	 138	 140	 142	 144	 146	 148	 150

Therefore total number of even nummber in this range are: 41

In [5]:
#calculate factorial of a number using for loop
    
num=int(input("enter number:"))
fact=1

for i in range(1,(num+1)):
    fact=fact*i
    
print(f"Factorial of {num}:",fact)

enter number:8
Factorial of 8: 40320

In [10]:
#find the largest number in a l using for loop

l=eval(input("Enter l:"))
maximum = l[0]

for i in range(1, len(l)):
    if l[i] > maximum:
        maximum = l[i]

print("Maximum value:", maximum)

Enter list:[3,7,12,67,45,98,23,11,5]
Maximum value: 98

In [1]:
l=eval(input("Enter l:"))
minimum = l[0]

for i in range(1, len(l)):
    if l[i] < minimum:
        minimum = l[i]

print("minimum value:", minimum)

Enter list:[3,7,12,67,45,98,23,11,5]
minimum value: 3

In [12]:
#count the vowels in a string using for loop
s=str(input)

Enter list:10,14,55,75,23,4,67,10
minimum value: 4

In [18]:
#print fibonacci series using for loop

n=int(input("enter number of terms: "))
a=0
b=1
fibo=0
i=0

print("Fibonacci terms are:\n")
if(n>0):
    print(a,b,end=' ')
    for i in range(n):
        fibo=a+b
        print(fibo,end=' ')
        a=b
        b=fibo
else:
    ("Fibonacci term is:",a)

enter number of terms: 15
Fibonacci terms are:

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [19]:
#reverse a l using for loop
l=eval(input("enter elements: "))
print("\n Original list: ",l)
rev=[]
for i in l:
    rev=[i]+rev
print(" Reversed list: ",rev)

enter elements:  44.766, "Dipanjan", "Jordan", 178, "Albert",32,25,67,88.112,3,2,4,3,2,1

 Original list:  (44.766, 'Dipanjan', 'Jordan', 178, 'Albert', 32, 25, 67, 88.112, 3, 2, 4, 3, 2, 1)
 Reversed list:  [1, 2, 3, 4, 2, 3, 88.112, 67, 25, 32, 'Albert', 178, 'Jordan', 'Dipanjan', 44.766]

In [46]:
#find common elements  between two ls using for loop

l1=eval(input("enter elements in 1st l: "))
l2=eval(input("enter elementsin 2nd l: "))
i=0
j=0
count=0
print(f"\n 1st l:\t{l1}")
print(f"Second l:\t{l2}\n")
for i in l1:
    for j in l2:
        if [i]==[j]:
            count+=1
            print(f"Common element found!!! \tElement no.{count}: \t{i}")
# 5, 9, 8.55, 44.766, "Dipanjan", "Jordan", 178, "Albert","",31.9978,"yami"
# 14,17,45,89.455,"Robret","Asta",1,7,8.99,"Julius",178,34,78,"Dipanjan",31.9978

enter elements in 1st list: 5, 9, 8.55, 44.766, "Dipanjan", "Jordan", 178, "Albert","",31.9978,"yami"
enter elementsin 2nd list: 14,17,45,89.455,"Robret","Asta",1,7,8.99,"Julius",178,34,78,"Dipanjan",31.9978

 1st list:	(5, 9, 8.55, 44.766, 'Dipanjan', 'Jordan', 178, 'Albert', '', 31.9978, 'yami')
Second list:	(14, 17, 45, 89.455, 'Robret', 'Asta', 1, 7, 8.99, 'Julius', 178, 34, 78, 'Dipanjan', 31.9978)

Common element found!!! 	Element no.1: 	Dipanjan
Common element found!!! 	Element no.2: 	178
Common element found!!! 	Element no.3: 	31.9978

In [7]:
#gcd of two elements

a=int(input("enter first number: "))
b=int(input("enter second number: "))
j=0
gcd=0

if a>b:
    for i in range(1,b):
        if (a%i==0) and (b%i==0):
            gcd=i
elif b>a:
    for i in range(1,b):
        if (a%i==0) and (b%i==0):
            gcd=i
print(f"\nG.C.D. of {a} and {b} is: {gcd}")

enter first number:  467
enter second number:  289

G.C.D. of 467 and 289 is: 1

In [32]:
#find the lcm of 2 numbers using for loop
a,b=map(int,input("enter two numbers:").split())
i=a if a>b else b
for lcm in range(i,9999):
    if (lcm%a==0) and (lcm%b==0):
        break
print(f"\nL.C.M. of {a} and {b} is: {lcm}")

enter two numbers: 12 18

L.C.M. of 12 and 18 is: 36

In [27]:
#remove duplicates from a l using for loop
l=[]
l=eval(input("enter elements:"))
new=[]
count=0

print("\nThe Original list is:\t",l)

for item in l:
    if item not in new:
        new+=[item]
print("The new duplicate-free list is:\t",new)

enter elements: 1,2,3,4,"a","b",3,2

The Original list is:	 (1, 2, 3, 4, 'a', 'b', 3, 2)
The new duplicate-free list is:	 [1, 2, 3, 4, 'a', 'b']

In [46]:
#find the sum of all odd numbers in a range using for loop

l,u=map(int,input("enter range:").split())

oddsum=0
print("The Odd numbers between {l} and {u}:\n")
for i in range(l,u+1):
    if i%2!=0:
        print("\t",i,end=' ')
        oddsum=oddsum+i
print("\n\tThe sum of these all odd numbers: ",oddsum)

enter range: 23 189

The Odd numbers between {l} and {u}:

	 23 	 25 	 27 	 29 	 31 	 33 	 35 	 37 	 39 	 41 	 43 	 45 	 47 	 49 	 51 	 53 	 55 	 57 	 59 	 61 	 63 	 65 	 67 	 69 	 71 	 73 	 75 	 77 	 79 	 81 	 83 	 85 	 87 	 89 	 91 	 93 	 95 	 97 	 99 	 101 	 103 	 105 	 107 	 109 	 111 	 113 	 115 	 117 	 119 	 121 	 123 	 125 	 127 	 129 	 131 	 133 	 135 	 137 	 139 	 141 	 143 	 145 	 147 	 149 	 151 	 153 	 155 	 157 	 159 	 161 	 163 	 165 	 167 	 169 	 171 	 173 	 175 	 177 	 179 	 181 	 183 	 185 	 187 	 189
	The sum of these all odd numbers:  8904

In [52]:
#calculates square  root  using for loop

sqrt=0
n=int(input("enter number:"))
num=n
for i in range(1,n,2):
    if n>0:
        n=n-i
        sqrt+=1
    else:
        break
print(f"Square root of {num}: {sqrt}")

enter number: 127449

Square root of 127449: 357

In [7]:
#                -----STRING-----

In [10]:
#convert string to uppercase

In [11]:
#convert string to lowercase

In [16]:
#find a word in a string

In [17]:
#replacee a word in a string

In [18]:
#count the occurrences of a word in a  string

In [19]:
#find the 1st occurence of a word in a string

In [20]:
#find the last occurence of a word in a string

In [21]:
#split a string into l of words

In [22]:
#join a l of words in a string

In [23]:
#convert a sting where words are seperated by spaces to one where words are seperated with underscores

In [24]:
#check if a string starts with a specific word

In [25]:
#convert a string into title case

In [26]:
#find the longest word in a string

In [27]:
#find the shortest word in a string

In [28]:
#reverse  the order of words in a string

In [29]:
#check if a string is alphanumeric or not

In [30]:
#extract all digitsfrom a string

In [31]:
#extract all alphabets from a string

In [32]:
#count the number of block letters in a string

In [33]:
#count the number of lowercase in a string

In [34]:
#swap the case

In [ ]:
#check if a string is a valid email id  or not